{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
                <div class="book col-md-4">
                    <h2>{{ book.name }}</h2>
                    <p>Автор: {{ book.author }}</p>
                    <p>Дата публикации: {{ book.pub_date }}</p>
                        <div class="row col-md-12">
                            {% if previous_book != None %}
                                <a href='{% url 'books' %}{{ previous_book }}'>
                                    <button> {{ previous_book }} </button>
                                </a>
                            {% endif %}
                            {% if next_book != None %}
                                <a href='{% url 'books' %}{{ next_book }}'>
                                    <button> {{ next_book }} </button>
                                </a>
                            {% endif %}
                        </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}